SUPABASE_URL=https://esnybqbtytfuitqctghs.supabase.co
SUPABASE_SERVICE_ROLE_KEY=
SUPABASE_FUNCTION_JWT=

FERA_ATACADO_LOGIN=
FERA_ATACADO_PASSWORD=
COFEMA_LOGIN=
COFEMA_PASSWORD=
CONSTRUJA_LOGIN=
CONSTRUJA_PASSWORD=
MAREST_LOGIN=
MAREST_PASSWORD=
MEGALESTE_LOGIN=
MEGALESTE_PASSWORD=
